<h1>Transactions</h1>
  <ul>
    <% @movements.each do |movement| %>
        <li>
          <%= image_tag @group.icon %>
          <h2><%= movement.name %></h2>
          <p>$<%= movement.amount %></p>
        </li>
    <% end %>
  </ul>
<button><%= link_to 'Add new movement', new_group_movement_path(group_id: @group.id) %> </button>