@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

:root {
  --color-primary: #3778c2;
  --color-secondary: #5fb523;
  --color-dark: #434b54;
  --text-color: #262729;
  --links-color: #e8eae9;
  --background-color: #f1f3f2;
  --main-font: 'Proxima Nova', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

body {
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

a {
  display: flex;
  text-decoration: none;
  color: var(--color-primary);
  width: max-content;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

button {
  border: none;
  border-radius: 3px;
  padding: 10%;
  margin: 10%;
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  cursor: pointer;
}

h1 {
  display: flex;
  color: #fff;
  text-shadow: 10px 10px 14px rgba(0, 0, 0, 0.47);
}

h2 {
  display: flex;
  color: #fff;
  font-size: large;
}

.splash {
  justify-content: center;
  background-color: var(--color-primary);
}

.splash h1 {
  align-self: center;
  font-size: 3em;
}

.splash div {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.splash button {
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-bottom: 5%;
  background-color: var(--color-primary);
}

form {
  background-color: var(--background-color);
}

form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom: 1px solid var(--links-color);
  border-top: 1px solid var(--links-color);
  padding: 5%;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding: 5%;
}

.links a {
  color: var(--color-dark);
}

.actions input {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.group-transaction,
.group a {
  background-color: #fff;
  margin: 5%;
  padding: 5%;
  column-gap: 5%;
}

.group-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-transaction img,
.group img {
  width: 100px;
  height: 100px;
}

.group-transaction h2,
.group h2 {
  width: 150px;
  color: var(--color-dark);
}

.group-transaction p,
.group p {
  color: #787878;
  width: 70px;
  text-align: end;
}

.green-button2,
.green-button {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  padding: 5%;
  cursor: pointer;
  width: auto;
}

.green-button2 {
  width: 100vw;
}

.green-button input,
.green-button2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--links-color);
  width: auto;
  padding: 5%;
  color: #fff;
  background-color: var(--color-secondary);
}

.select-category {
  display: flex;
  background-color: #fff;
  padding: 5%;
  column-gap: 5%;
}

.select-category select {
  border: 1px solid var(--links-color);
}

.select-category option {
  display: flex;
  width: 150px;
  padding: 3%;
}

.total {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 5%;
}
